a {
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  /* background: rgb(253, 249, 249); */
  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4ca2cd,
    #67b26f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4ca2cd,
    #67b26f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header {
  height: 72px;
  background-color: #ececec;
  box-shadow: 1px 2px 3px rgb(230, 222, 222);
  text-align: center;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
  padding: 40px;
  justify-content: center;
}
.project {
  cursor: pointer;
  padding: 10px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: white;
  transition: all 0.6s;
  height: 210px;
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
}
.project:hover {
  background: #aef3b5;
  transform: perspective(400px) translateZ(50px);
}
.project h3 {
  text-transform: capitalize;
}
