* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: #6449f3;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
}
.sound {
  margin-right: 10px !important;
  background-color: transparent !important;
}
